[submodule "mediasoup"]
	path = mediasoup
	url = https://github.com/versatica/mediasoup.git
	branch = v3
[submodule "mediasoup-demo"]
	path = mediasoup-demo
	url = https://github.com/feast107/mediasoup-demo/
