[submodule "mediasoup"]
	path = mediasoup
	url = https://github.com/versatica/mediasoup.git
	branch = v3
[submodule "libuv-sharp"]
	path = libuv-sharp
	url = https://github.com/Antelcat/libuv-sharp.git